/__pycache__

/evaluate/__pycache__

/numerical_integrals/__pycache__

/numerical_integrals/midpoint/__pycache__

/numerical_integrals/trapezoid/__pycache__

/numerical_integrals/simpson/__pycache__

/quadratic/__pycache__